<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Simple plotter</title>
    <script src=https://unpkg.com/vue@3></script>
    <style>
      #canvas
      {
        display: flex;
        flex_direction: row;
      }

      .col
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
      }

      .colCtt
      {
        background-color: #000;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <main id=app>
      <div id=canvas>
        <div class=col v-for='i in canvasColN' :style=colStyle>
          <div class=colCtt :id='`col${i}`' :style=colCttStyle[i-1]></div>
        </div>
      </div>
      <input type=text v-model=functionExpression />
      <input type=number v-model=canvasWidth />
      <input type=number v-model=canvasHeight />
      <input type=number v-model=canvasUnity />
      <button @click=plot()>Plot</button>
    </main>
    <script>
      const {createApp, ref, reactive, computed} = Vue;

      function setup()
      {
        const canvasColN = ref(300);
        const canvasWidth = ref(300);
        const canvasHeight = ref(300);
        const canvasUnity = ref(100);

        const functionExpression = ref('0.5*x');

        const colStyle = computed(() => {
            return {
                height: `${canvasHeight.value}px`,
                width: `${canvasWidth.value / canvasColN.value}px`
              };
          });

        const colCttStyle = computed(() => {
            const styleList = [];

            for (let i = 0; i < canvasColN.value; ++i)
            {
              let x = i * canvasWidth.value / canvasColN.value / canvasUnity.value;
              
              styleList.push({
                  height: `${Math.max(Math.min(eval(functionExpression.value) * canvasUnity.value, canvasHeight.value), 0)}px`
                });
            }

            return styleList;
          });
    
        function plot()
        {
          alert('WIP!');
        }

        return { canvasColN, canvasWidth, canvasHeight, canvasUnity, functionExpression, colStyle, colCttStyle, plot };
      }

      app = createApp({ setup });

      app.mount('#app');
    </script>
  </body>
</html>
