<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Simple plotter</title>
    <script src=https://unpkg.com/vue@3></script>
    <style>
      .canvas
      {
        display: flex;
        flex-direction: row;
      }

      .col
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
      }

      .colCtt
      {
        background-color: #000;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <main id=app>
      <plotter-canvas :col-n=canvas.colN :width=canvas.width :height=canvas.height :unity=canvas.unity :function-expression=functionExpression></plotter-canvas>
      <hr>
      <div>
        <input type=text v-model=functionExpression />
        <input type=number v-model.number=canvas.width />
        <input type=number v-model.number=canvas.height />
        <input type=number v-model.number=canvas.unity />
        <button @click=plot()>Plot</button>
      </div>
    </main>
    <script>
      const {createApp, ref, reactive, computed} = Vue;

      function setup()
      {
        const canvas = reactive({
            colN: 600,
            width: 300,
            height: 300,
            unity: 100,
          });

        const functionExpression = ref('0.5*x');
    
        function plot()
        {
          alert('WIP!');
        }

        return { canvas, functionExpression, plot };
      }

      app = createApp({ setup });

      app.component('plotterCanvas',
      {
        template: `
            <div class=canvas>
              <div class=col v-for='i in colN' :style=colStyle>
                <div class=colCtt :style=colCttStyle[i-1]></div>
              </div>
            </div>
          `,
        props: {
            height: {
                type: Number,
                default: 500,
              },
            width: {
                type: Number,
                default: 500
              },
            colN: {
                type: Number,
                default: 100
              },
            unity: {
                type: Number,
                default: 1
              },
            functionExpression: {
                type: String,
                default: 'x'
              }
          },
        setup(props)
        {
          const colStyle = computed(() =>
          {
            return {
                height: `${props.height}px`,
                width: `${props.width / props.colN}px`
              };
          });

          const colCttStyle = computed(() =>
          {
            const styleList = [];
            
            for (let i = 0; i < props.colN; ++i)
            {
              let x = i * props.width / props.colN / props.unity;
              
              styleList.push({
                  height: `${Math.max(Math.min(eval(props.functionExpression) * props.unity, props.height), 0)}px`
                });
            }

            return styleList;
          });

          return { colN: props.colN, colStyle, colCttStyle };
        }
      });

      app.mount('#app');
    </script>
  </body>
</html>
